<%= form_for(@task, :html=>{"role"=>"form"}) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation"  class="alert alert-dismissable alert-danger">
       <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul >
      <% @task.errors.full_messages.each do |msg| %>
        <li  ><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="form-group">
    <%= f.label :task_type %><br>
    <%= f.text_field :task_type %>
  </div>
  <div class="form-group">
    <%= f.label :priority %><br>
    <%= f.number_field :priority, "min"=>"1","max"=>"10" %>
  </div>
  <div class="form-group">
    <%= f.label :time %><br>
    <%= f.time_select :time %>
  </div>
  <div class="form-group">
    <%= f.submit :class=>"btn btn-default"%>
  </div>
<% end %>
